.header {
    height: 80px;
    position: relative;
    width: 100%;
    background-color: #fff;
    color: black;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
}

.header > ul {
    display: flex;
    float: right;
}
.header > ul > li {
    margin-right: 60px;
    list-style-type: none;
    margin-top:15px;
    margin-bottom: 35px;
    color: black;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
}
.header > img {
    margin-top: 20px;
}

a { color: inherit;     text-decoration: none;} 

h1 {
    margin-top: 150px;
    margin-bottom: 10px;
    padding-right: 48px;
    font-size: 48px;
    font-family: Poppins,sans-serif;
    color: #333;
}

h2 {
    font-family: Poppins,sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    text-align: center; 
}

body {
    font-family: Poppins,sans-serif;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    border: 1px #000;
    font-weight: 300;
    background-color: #f7fafe;
}

.total {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;

}

.produit > ul {
    height: 80px;
    width: 100%;
    color: black;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap row;
    align-content: left;
    text-align: center;
    margin: 15px;
}

.langue {
    height: 80px;
    position: relative;
    width: 100%;
    color: black;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
    margin: 0 auto;

}

.connect > ul{
    height: 60px;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: nowrap row;
    align-content: space-around;
    border-style: solid;
    border-radius: 20px;
    border-color:#4d19ff;
    font-family: Poppins,sans-serif;
    margin-top: 3px;
    border-color: #4d19ff;
    transition-property: none;
    font-size: 13px;
    line-height: 3.5;
    font-weight: 600px;    
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 15px;
}

.texte { 
   
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 50px;
    font-family: Poppins,sans-serif;
}

.resultat {
    width: 1200px;
    display: flex ;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

}

.essai {
    border-radius: 25px;
    color: #fff ;
    font-family: Poppins,sans-serif;
    margin-top: 19px;
    border-color: #4d19ff;
    background-color: #4d19ff;
    transition-property: none;
    color: #fff;
    font-size: 13px;
    line-height: 3.5;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    display: inline-block;
    height: 50px;
    padding: 0 35px;
    cursor: pointer;
}

.contenaire {
    display: wrap;
    align-items: center;
    margin-top: 10px;
}

.contenaire > img {
    margin-left: 120px;
    margin-top: 10px;
}

footer {
    background-color: #f7fafe;
}
